

#calltoAction .call__wrapper-img{  
    position: relative; 

}
 

#calltoAction .call__wrapper-img::before{ 

    content: ''; 

    width: 89%;
    height: 100%;  

    position: absolute; 
    right: 0;   

    background-color: #FFA724; 
}


#calltoAction .wrapper-img__container{ 
    
    width: 89%;  
    
    position:relative;
    top: 4rem ;     
}
 
#calltoAction .call__content{ 
   
    margin-top: 4.7rem; 
}

#calltoAction .call__content h2{ 

    font-size: 3rem; 
    line-height: 4.5rem; 
    text-align: center;  
    
    margin-bottom: 1.6rem; 

} 

#calltoAction .call__content p{ 
  
     font: normal 400 1.6rem/2.083rem 'DM Sans';  
    text-align:center;  

    color: #767676; 

    margin-bottom: 3.2rem; 

    padding-inline: 1.4rem; 
} 


body.menu-expand #calltoAction{ 

    opacity: 0; 
} 


@media screen{ 

    @media(min-width: 1100px){ 
       #calltoAction{ 
          margin-bottom: 10.8rem; 
       }


        #calltoAction .wrapper{ 
            display: flex;  
            align-items:center; 
            overflow: visible; 
        } 

        #calltoAction .call__wrapper-img{

            order: 2;  
            position: relative;
            left: 5.2rem; 

        } 

        #calltoAction .call__content .wrapper-content{ 
            display: flex;
            flex-direction: column; 


        }

        #calltoAction .call__content .wrapper-content h2, 
        #calltoAction .call__content .wrapper-content p
        { 

            text-align: left; 

        } 
        #calltoAction .call__content .wrapper-content h2{ 
            font-size: 3.6rem; 
            line-height: 5.4rem; 
            margin-bottom: 1.2rem; 
        }
        #calltoAction .call__content .wrapper-content p{ 
            font-size: 1.8rem; 
            line-height: 2.344rem; 
            margin-bottom: 2.4rem; 
            padding: 0; 

        }

        #calltoAction .call__content .wrapper-content button{ 
            width: fit-content; 

        }

    }

}