#depositions{ 

    padding-block: 8rem; 
}

#depositions .depositions__title{ 

    font:normal 700 3rem/4.5rem 'Poppins';  
    padding-right: 7rem; 
    text-align: left;  
    margin-bottom: 6rem; 
}  

#depositions .depositions__comments-container{ 
 
    overflow: hidden;    
    
  
}



#depositions .depositions__comments{ 

    padding: 2.8rem 3.2rem;  
    display: flex;  
    gap: 5.7rem;  
    max-width: 100%; 
  
   
    
} 


#depositions .depositions__comments__comment {
    
    flex-shrink: 0;  
    min-width: 37.5rem; 
    padding: 3.2rem; 
    box-shadow: 0px 0px 12px 0px #00000014;  
    width: 100%;  
 
}

#depositions .depositions__comments__paragraph{ 

    font: normal 400 1.6rem/2.6rem 'Poppins';  
    margin-bottom: 1.6rem; 
    text-align: left; 
}
 


#depotions  .depositions__comments__paragraph .custom-span{ 

    font-family: 'icomoon';

} 


#depositions .depositions__comments__author{ 

    display: flex;  
    align-items: center;  
    gap: .8rem;     
}

#depositions .depositions__comments__author img{ 
    max-width: 3.2rem; 
    height: 3.2rem; 
} 
#depositions .depositions__input{ 

    display: none; 
}


@media only screen and (min-width: 1100px){ 
   

    #depositions .depositions__title{ 

        font:normal 700 3.6rem/4.5rem 'Poppins';  
        padding-right: 0;
        text-align: center;  
        margin-bottom: 6rem;  
        max-width: 48.1rem;  
        margin: 0 auto ; 
    }   

    
    #depositions .depositions__comments-container{ 
    
        overflow: hidden;    
        padding-left: 12.3rem; 
    
    }


    #depositions .wrapper, 
    #depositions .wrapper-content{ 

        padding: 0; 
    }


    #depositions .depositions__comments{ 

        padding: 2.8rem 3.2rem;   
        display: flex;  
        gap: 3.2rem;   
        
    } 
    
   
    #depositions .depositions__comments__comment {
    
        flex-shrink: 1;   
        padding: 5.2rem; 
        width: 100%;  
        min-width: 54.4rem;  
   
      
    }
    

    #depositions .depositions__input{ 

        display: block; 
    }
     

    #depositions #r1 , 
    #depositions #r2, 
    #depositions #r3{ 

        height: 13px ; 
        width: 13px; 
        display: inline-block; 
        border: 1px solid #333; 
        border-radius: 50%; 

        margin: 1rem; 

    }



    input:active #r1 { 

        background-color:red;   
    }


} 